<div class="rows">
  <% @users.each do |user| %>
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p><strong><%= user.name %></strong></p>
            <p><small><%= user.email %></small></p>
            <p><small><%= user.created_at.strftime("Member since: %m/%d/%Y") %></small></p>
            
          </div>
        </div>
      </article>
    </div>
  <% end %>
</div>