<div class="container">
  <div class="level">
    <div class="level-left">
      profile
    </div>
    <div class="level-item">
      <%= render 'feed' %>
    </div>
    <div class="level-right">
      who to follow
    </div>
  </div>
</div>